<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="off" internalLogFile="c:\temp\nlog-internal.log">

	
	<!--==========变量定义============-->
	<variable name="logPath" value="${baseDir}/Logs/${level}/${shortdate}" />
	
	<targets xsi:type="AsyncWrapper">
		<target name="logDB" xsi:type="Database"					 
					connectionString="server=.;Database=APPLOGS;user id=sa;password=denggao1">
			<commandText>
				INSERT INTO dbo.NLOG ([Application],[Logged],[LevelInfo],[Message],[Logger],[Callsite],[Exception]) VALUES (@application, @logged, @level, @message,@logger, @callsite, @exception);
			</commandText>
			<parameter name="@application" layout="DGHIS" />
			<parameter name="@logged" layout="${date}"/>
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callsite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}"/>
		</target>
		<!--保存至文件-->
		<!-- 输出到文件,这个文件记录操作日志 -->
		<target name="logInfo"  xsi:type="File"  fileName="${logPath}/${level}.log"
					 layout="机器：${machinename} ${newline}IP:${local-ip} ${newline}用户身份信息：${environment-user} ${newline}【操作时间】： ${date}${newline}【操作级别】：${level:uppercase=true} ${newline}${message}${newline}" />
		
		<target name="log_file" xsi:type="File"
                fileName="${logPath}/${level}.log"
                layout="机器：${machinename} ${newline}IP:${local-ip} ${newline}用户身份信息：${environment-user} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message}${newline}${exception} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline}${newline}"/>
	
		<!--输出至控制台-->
		<!-- <target name="console" xsi:type="ColoredConsole" -->
		<!--         layout="机器：${machinename} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline}${newline}"/> -->
		<!--输出至邮件-->
		<!-- <target xsi:type="Mail" name="infoMail" -->
		<!--         smtpServer="smtp.qq.com" -->
		<!--         smtpPort="465" -->
		<!--         smtpAuthentication="Basic" -->
		<!--         smtpUserName="xxxx@qq.com" -->
		<!--         smtpPassword="xxxxxxxxxxx" -->
		<!--         enableSsl="true" -->
		<!--         addNewLines="true" -->
		<!--         from="xxxx@qq.com" -->
		<!--         to="bing@zwbing.com" -->
		<!--         subject="来自：${machinename}的自动签到提醒" -->
		<!--         header="*********************" -->
		<!--         body="机器：${machinename} ${newline}时间：${longdate} ${newline}级别：${level} ${newline}进程：${processid} ${newline}线程：${threadid} ${newline}内容：${message} ${newline}堆栈：${stacktrace} ${newline}位置：${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}" -->
		<!--         footer="*********************" /> -->

		
	</targets>


	<rules>
		<logger name="*" minlevel="Trace" writeTo="logDB" />   
		<logger name="Microsoft.*" minlevel="Trace" writeTo="log_file" final="true" />
		<logger name="*" level="Info" writeTo="logInfo" />
		<logger name="*" level="Error" writeTo="log_file" />
		<logger name="*" level="Fatal" writeTo="log_file" />
		 <!--<logger name="*" minlevel="Info" writeTo="infoMail" />--> 
		<logger name="*" level="Warn" writeTo="log_file" />
	</rules>
</nlog>